<!-- Start Header/Navigation -->
<nav
  class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
  arial-label="Furni navigation bar"
>
  <div class="container">
    <a class="navbar-brand" href="/">Tempus<span>.</span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsFurni"
      aria-controls="navbarsFurni"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex align-items-center justify-content-center" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav justify-content-center w-100">
        <li><a class="nav-link" href="index.html">New Arrivals</a></li>
        <li><a class="nav-link" href="shop.html">Men</a></li>
        <li><a class="nav-link" href="about.html">women</a></li>
        <li><a class="nav-link" href="services.html">Kids</a></li>
        <li><a class="nav-link" href="blog.html">Smartwatches</a></li>
        <li><a class="nav-link" href="contact.html">Luxury</a></li>
        <li><a class="nav-link" href="contact.html">Offers</a></li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li>
          <a class="nav-link" href="cart.html"
            ><img src="images/icons8-search-22.png"
          /></a>
        </li>
        <li class="nav-item dropdown">
          <% if (locals.user) { %>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= locals.user.firstName %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="/dashboard">Your Account</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
          <% } else { %>
          <a class="nav-link" href="/login">
            <img src="images/user.svg" alt="User" />
          </a>
          <% } %>
        </li>

        <li>
          <a class="nav-link" href="/wishlist"
            ><img src="images/icons8-heart-28.png"
          /></a>
        </li>
        <li>
          <a class="nav-link" href="cart.html"><img src="images/cart.svg" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- End Header/Navigation -->
