<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="css/tiny-slider.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/tempusStyle.css" />
    <title>Tempus</title>
  </head>

  <body>
    <!--HEADER-->
    <%- include('../../views/partials/user/header')%>
    <!--HEADER-->

    <div class="signup-container">
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 rounded-lg">
            <div class="card shadow-lg p-4 rounded-4 mx-5" style="width: 100%; max-width: 480px; border-radius: 20px;">
              <h3 class="text-center mb-4">Forgot Password</h3>
              <h5 class="text-center mb-5">Enter Email Address</h5>
              <form
                id="forgotPswd"
                action="/forgotPasswordOtp"
                method="POST"
                novalidate
              >
                <!-- Email -->
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your Email"
                    required
                  />
                  <p id="err1" style="color: rgb(157, 63, 63)"></p>
                </div>

                <!-- Submit -->
                <button type="submit" class="btn btn-primary w-100">
                  Send OTP
                </button>
              </form>

              <div class="d-flex align-items-center justify-content-center">
                <form action="/login" method="get">
                  <button
                    id="backToLogin"
                    type="submit"
                    class="btn btn-primary border-0 bg-white text-dark text-decoration-underline"
                  >
                    Back to sign in
                  </button>
                </form>
              </div>

              <div class="text-center my-3">
                <span>OR</span>
              </div>
              <div>
                <a
                  href="/auth/google"
                  class="btn bg-white text-dark btn-outline-danger w-100 d-flex align-items-center justify-content-center"
                >
                  <img
                    src="https://developers.google.com/identity/images/g-logo.png"
                    alt="Google Logo"
                    style="width: 20px; height: 20px; margin-right: 8px"
                  />
                  Sign in with Google
                </a>
              </div>

              <div
                class="d-flex align-items-center justify-content-center mt-3"
              >
                Don't have an account?<a href="/signup"> Sign up here </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER-->
    <%- include('../../views/partials/user/footer')%>
    <!--FOOTER-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/userSignupValidate.js"></script>
    <script src="js/otpVerifyTimer.js"></script>
    <script src="js/signinValidation.js"></script>
    <script src="js/forgotPassword.js"></script>
    <script src="js/changeFrgtPswd.js"></script>
    <script src="js/templateJS.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      // Function to get URL parameters
      function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
      }

      const message = getQueryParam("message");
      if (message) {
        Swal.fire({
          icon: "info", // you can change icon to 'error' or 'warning' if you want
          title: "Notice",
          text: decodeURIComponent(message),
        });
      }
    </script>
  </body>
</html>
