<!-- Top Header -->
<header class="bg-white border-bottom shadow-sm">
  <div class="container-fluid">
    <div class="row align-items-center py-3">
      <div class="col">
        <!-- <h2 class="mb-1" id="pageTitle">Dashboard</h2>
                        <p class="text-muted mb-0">Welcome back, Admin</p> -->
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <!-- <div class="container mt-3">
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Search here..."
              />
            </div>
          </div> -->

          <div class="d-flex align-items-center">
            <div
              class="bg-primary rounded-pill d-flex align-items-center justify-content-center me-2"
              style="width: 70px; height: 32px"
            >
              <a href="/admin/logout"><span class="text-white fw-bold">Logout</span></a>
            </div>
            <span class="fw-medium">Bushra</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
